*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary: #fff;
  --bg-color: #702963;
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #d3ad03;
  --heart-color: rgb(252, 8, 231);
  --purple-gradient: linear-gradient(45deg, #AA076b, #61045f);
  --blue-gradient: linear-gradient(45deg, #1A2980, #26d0ce);
  --dark-purple-gradient: linear-gradient(45deg,
    rgba(13, 1, 34, 1) 0%,
    rgba(21, 2, 38, 1) 40%,
    rgba(88, 4, 64, 1) 100%
    );
  --heading-txt-gradient: linear-gradient(45deg, #d4af37, #e0e0e0, #d4af37);
}

html {
  font-size: 10px;
}

@font-face {
  font-family: great_vibes;
  src: url('/src/fonts/greatvibes.ttf');
}
@font-face {
  font-family: gotu;
  src: url('/src/fonts/gotu.TTF');
}

body {
  background: var(--dark-purple-gradient);
}