.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.page-not-found {
  font-size: 4rem;
  color: white;
  font-family: gotu;
  text-align: center;
}

.not-found-img {
  width: 40%;
}

@media (max-width: 800px) {
  .not-found-container  {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }
}

@media (max-width: 580px) {
  .not-found-container  {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  }

  .page-not-found {
    font-size: 3rem;
  }

  .not-found-img {
    width: 80%;
  }
}
